BODY {
	FONT-SIZE: 11pt; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(images/2048x2048_SocialNetworkingbackground.png); MARGIN: 0px; COLOR: #000000; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; BACKGROUND-COLOR: #00547f
}
TABLE.XSP_OUTLINE {
	WIDTH: 980px; HEIGHT: 100%
}
TD.XSP_HEADER_PANEL {
	WIDTH: 980px; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.XSP_HEADER_PANEL TABLE {
	
}
TD.XSP_LEFT_PANEL_SPC {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 160px; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.XSP_LEFT_PANEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 160px; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.XSP_LEFT_PANEL_2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 160px; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.XSP_LEFT_PANEL_2 {
	BACKGROUND-POSITION: left bottom
}
DIV.XSP_LEFT_PANEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; TEXT-ALIGN: left
}
DIV.XSP_LEFT_PANEL TABLE {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif
}
TD.XSP_CENTER_PANEL {
	VERTICAL-ALIGN: top; WIDTH: 800px; BACKGROUND-COLOR: #ffffff
}
TABLE.XSP_CENTER_PANEL {
	WIDTH: 100%; HEIGHT: 100%
}
TD.XSP_MAIN_PANEL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11pt; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; TEXT-ALIGN: left
}
TD.XSP_MAIN_PANEL TABLE {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif
}
TD.XSP_MAIN_PANEL_FOOTER {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; HEIGHT: 0px; BACKGROUND-COLOR: #f0f8ff; TEXT-ALIGN: left
}
TD.XSP_MAIN_PANEL_FOOTER TABLE {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif
}
TD.XSP_MAIN_PANEL_HEADER {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Sans-Serif; HEIGHT: 30px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.XSP_MAIN_PANEL_HEADER TABLE {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Sans-Serif
}
TD.XSP_INFO_BAR {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; HEIGHT: 40px; BACKGROUND-COLOR: #f0f8ff
}
TD.XSP_INFO_BAR TABLE {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif
}
TD.XSP_RIGHT_PANEL_SPC {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.XSP_RIGHT_PANEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 0px; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
DIV.XSP_RIGHT_PANEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Sans-Serif; TEXT-ALIGN: left
}
DIV.XSP_RIGHT_PANEL TABLE {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Sans-Serif
}
TD.XSP_FOOTER_PANEL {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(images/footer.jpg); PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; WIDTH: 980px; COLOR: #000000; PADDING-TOP: 15px; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; HEIGHT: 60px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.XSP_FOOTER_PANEL TABLE {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif
}
TD.NAVBAR_LEFT {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.NAVBAR_LEFT {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; TEXT-DECORATION: none
}
A.NAVBAR_LEFT:visited {
	COLOR: #000000
}
A.NAVBAR_LEFT:hover {
	COLOR: #000000
}
DIV.BREADCRUMB {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; TEXT-DECORATION: none
}
A.BREADCRUMB {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Verdana, Sans-Serif; TEXT-DECORATION: underline
}
A.BREADCRUMB:visited {
	COLOR: #000000
}
A.BREADCRUMB:hover {
	COLOR: #000000
}
.border6920d044-410f-403b-9824-7ca5f4faeec7 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 200px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: white
}
.cell16920d044-410f-403b-9824-7ca5f4faeec7 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 0px
}
.cell26920d044-410f-403b-9824-7ca5f4faeec7 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.label6920d044-410f-403b-9824-7ca5f4faeec7 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.input6920d044-410f-403b-9824-7ca5f4faeec7 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 100%; BORDER-BOTTOM: black 1px solid
}
.button6920d044-410f-403b-9824-7ca5f4faeec7 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; FONT-FAMILY: Arial; BACKGROUND-COLOR: silver; TEXT-DECORATION: none
}
.head6920d044-410f-403b-9824-7ca5f4faeec7 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
DIV.result6920d044-410f-403b-9824-7ca5f4faeec7 {
	MARGIN-TOP: 10px
}
DIV.resultspage6920d044-410f-403b-9824-7ca5f4faeec7 {
	OVERFLOW: hidden
}
.result6920d044-410f-403b-9824-7ca5f4faeec7 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: blue; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.result6920d044-410f-403b-9824-7ca5f4faeec7:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: green; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.desc6920d044-410f-403b-9824-7ca5f4faeec7 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.url6920d044-410f-403b-9824-7ca5f4faeec7 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0px; COLOR: green; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.page6920d044-410f-403b-9824-7ca5f4faeec7 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.page6920d044-410f-403b-9824-7ca5f4faeec7 A {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: green; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.page6920d044-410f-403b-9824-7ca5f4faeec7 A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: red; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.class1:link {
	FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif; TEXT-DECORATION: underline
}
A.class1:visited {
	FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif; TEXT-DECORATION: underline
}
A.class1:hover {
	FONT-SIZE: 10pt; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif; TEXT-DECORATION: underline
}
LI.class1 {
	DISPLAY: list-item; MARGIN-BOTTOM: 5px; COLOR: black
}
DIV.class1 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Microsoft Sans Serif; TEXT-DECORATION: none
}
